@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-bleu: #206baf;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-light-grey: #f4f4f4;
  --primary-dark: rgba(41, 40, 40, 0.911);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-orange: #f9ab00;
  --primary-black: #000000;
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-green: green;

}

body{
  font-family: "Roboto Condensed", sans-serif;
}

/*************Navbar***********/
.navbar{
  z-index: 2;
}

.logo{
  width: 3.5rem;
  height: 3.5rem;
}

/************Menu Link**********/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

/* .navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
} */

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-bleu);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-bleu);
}

/*************Header***********/
.header-wraper{
  position: relative;
  background: url(interconnexions.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}

/**********typed-text*************/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

/**********header main button*************/
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}

.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/**********particules*************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/****************about**************/
.about-heading{
  color: var(--primary-bleu);
  text-transform: uppercase;
}

.head_title > p{
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.head_title > h1{
  text-align: center;
  font-family: "Roboto Condesed", sans-serif;
}

.main_about_content{
  font-family: "Roboto Condesed", sans-serif;
}

.accordion-body{
  text-align: justify;
}

/*********Services**********/
.box{
  font-family: "Roboto Condesed", sans-serif;
}

.services{
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1{
  color: var(--primary-dark);
  font-family: "Roboto Condensed", sans-serif;
}

.services .circle{
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-bleu);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon{
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box{
  height: 16rem;
  border-bottom: 0.3125rem solid var(--primary-bleu);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services a {
  text-decoration: none;
  color: var(--primary-dark);
}

.services .box:hover{
  background: var(--primary-dark);
  border-bottom: 0.3125rem solid var(--primary-dark);
  cursor: pointer;
  color: var(--primary-white);
}

.services .box:hover .icon {
  color: var(--primary-dark);
}

.services .box:hover .circle {
  background: var(--primary-white);
}

/*======================================================================
                    Portfolio section
========================================================================*/

.main_service_area{
    padding-bottom: 2rem;
}
.main_service_area h1{
  color: var(--primary-bleu);
  font-family: "Roboto Condensed", sans-serif;
}
.main_service_area .col-md-4:hover .single_service{
    background: #3f444a;
    color:#fff;
}
.main_service_area .jumbotron{
    padding:2rem .6rem;
}
.main_service_area .single_service{
    transition: all 0.3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.main_service_area .single_service i{
    font-size:3rem;
}

/*======================================================================
                    Card section
========================================================================*/
.cardcontainer {
  width: 350px;
  height: 470px;
  background-color: var(--primary-white);
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s
}

.cardcontainer:hover {
  box-shadow: 0 0 45px gray
}

.photo {
  height: 300px;
  width: 100%
}

.photo img {
  height: 100%;
  width: 100%
}

.txt1 {
  margin: auto;
  text-align: center;
  font-size: 17px
}

.content {
  width: 80%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -33px
}

.photos {
  width: 115px;
  height: 30px;
  background-color: #1960b2;
  color: white;
  position: relative;
  top: -30px;
  padding-left: 10px;
  font-size: 20px
}

.txt4 {
  font-size: 24px;
  position: relative;
  top: 33px;
  padding-bottom: 30px;
}

/* .txt5 {
  position: relative;
  top: 18px;
  color: #1960b2;
  font-size: 23px;
} */

.txt2 {
  position: relative;
  top: 5px;
  font-size: 15px;
}

.cardcontainer:hover>.photo {
  height: 200px;
  animation: move1 0.5s ease both
}

@keyframes move1 {
  0% {
      height: 300px
  }

  100% {
      height: 200px
  }
}

.cardcontainer:hover>.content {
  height: 200px
}

.footer-card {
  width: 80%;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-white);
  position: relative;
  top: -15px
}

.btn {
  position: relative;
  /* top: 20px; */
  border-radius: 20px;
  background-color: #1960b2;
}

.btn:hover {
  background-color: #1960b277;
}

#heart {
  cursor: pointer
}

.txt3 {
  color: gray;
  position: relative;
  top: 18px;
  font-size: 14px;
}

.message{
  background-color: #1960b2;
}

/***************Modal and Crroussel*********/
.Modal{
  height: 85vh;
  overflow:auto;
  font-family: "Roboto Condensed", sans-serif;
}

.img-1{
  height: 300px;
  width: 100%;
}

.section-content {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  min-height: 0px;
  background-color: rgb(32, 107, 175);
}

.distribution{
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-white);
}
.distribution-2{
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}
.box-img{
  vertical-align: middle;
  width: 538px;
  padding-bottom: 1rem;
}

/**********Carousel*************/
.testimonials{
  background-image: url(../src/images/testimonials-bg.jpg);
  background-size: cover;
  background-color: var(--primary-dark);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1{
  color: var(--primary-bleu);
  padding: 3rem 0;
  text-transform: uppercase;
  font-family: "Roboto Condensed", sans-serif;
}

.testimonials-content{
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black);
}

.myCarousel{
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
  font-family: "Roboto Condensed", sans-serif;
}

.myCarousel h3{
  color: var(--primary-bleu);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p{
  color: var(--primary-light-grey);
}

.carousel .slide img{
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide{
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root{
  margin: auto !important;
  margin-top: 3% !important;
}

/**********Contacts*************/
.contacts{
  background: var(--primary-dark);
  padding: 3rem 0;
  font-family: "Roboto Condensed", sans-serif;
}

.contacts h1{
  color: var(--primary-bleu);
  padding: 1.3rem 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.contacts p{
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

/**********responssive*************/
.contacts input, .contacts textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-grey);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
}

.contacts .container{
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus{
  background: transparent;
  color: var(--primary-bleu);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea{
  height: 12.2rem !important;
}
.contact-btn{
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
  color: var(--primary-bleu);
  border-color: var(--primary-bleu);
}
.contact-btn:hover{
  background-color: var(--primary-bleu);
  border-color: var(--primary-bleu);
}

.line{
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-bleu);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line{
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control{
  margin: -0.3rem 0;
}

textarea.form-control{
  margin: -0.3rem 0;
}

.error-message{
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
  background: var(--primary-white);
}

/************************ FOOTER COMPONENT *********************************/
.footer {
  background: var(--primary-black);
  color: var(--primary-dark-grey);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-dark-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
}

/**********responssive*************/
@media (max-width: 768px) {
  .particules-canvas{
    display: none;
  } 

  .main-info h1{
    font-size: 1.5rem !important;
  }

  .typed-text{
    font-size: 1.3rem !important;
  }

  .image-about{
    width: 350px;
    height: 190px;
  }

  .photo {
    width: 93vw;
  }

  .contacts .container{
    padding: 0 1rem;
  }

  .contacts p{
    padding: 0 0.4rem;
  }

  .contacts{
    overflow-x: hidden;
  }
}

@media (max-width: 360px) {
  .image-about{
    width: 335px;
    height: 190px;
  }
}

@media (max-width: 1024px) {
  .image-about{
    width: 455px;
    height: 300px;
  }
}

@media (max-width: 280px) {
  .image-about{
    width: 255px;
    height: 190px;
  }
  .txt4 {
    font-size: 14px;

  }
  .cardcontainer {
    width: 250px;
    height: 470px;
  }
}

